/* static/style.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f172a;
    color: #f1f5f9;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #38bdf8;
    margin-bottom: 30px;
}

h2 {
    color: #fbbf24;
    margin-bottom: 11px;
}

label {
    display: block;
    margin: 20px 0 5px;
    font-weight: 500;
    text-align: left;
}

input,
select {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background: #334155;
    color: #f1f5f9;
}

input[type=range] {
    accent-color: #38bdf8;
}

button {
    background: #38bdf8;
    border: none;
    color: #000;
    font-weight: 600;
    padding: 12px 0;
    margin-top: 20px;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: #0ea5e9;
}

#simple-result,
#advanced-result {
    margin-top: 20px;
    font-size: 1.2em;
}

footer {
    margin-top: 60px;
    color: #64748b;
    font-size: 0.9em;
}

.charts-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.chart-box h3 {
    margin-bottom: 10px;
    color: #fbbf24;
    font-size: 1.1em;
}

.compare-chart {
    margin-top: 60px;
    padding: 30px;
    text-align: center;
}

.charts-extra {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.charts-extra span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-box {
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(148, 163, 184, 0.2);
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    margin: 10px auto;
    text-align: center;
    margin-bottom: 20px;
}

canvas {
    max-width: 100%;
    height: auto !important;
    display: block;
    margin: auto;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    padding-bottom: 40px;
}


/* === RESPONSIVE FORM === */

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
    background: #1e293b;
    box-shadow: 0 0 10px rgba(148, 163, 184, 0.2);
    box-sizing: border-box;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: none;
    background: #334155;
    color: #f1f5f9;
}

button {
    width: 100%;
    padding: 12px;
    background: #38bdf8;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    margin-top: 15px;
    cursor: pointer;
}


/* === SMALL SCREEN FIX === */

@media screen and (max-width: 768px) {
    .charts-flex {
        flex-direction: column;
        align-items: center;
    }
    .chart-box {
        max-width: 90%;
    }
    form {
        width: 90%;
    }
}